build
.lite_workspace.lua
.vscode
junk/

docs/generated/hero
docs/generated/doxygen-html
docs/generated/xml
docs/generated/codecity.html

# winmerge backup files
*.bak


# visual debug/npm build
node_modules/
package.json
src/klotter/*.d.ts
src/klotter/*.d.ts.map
src/klotter/*.js
src/klotter/*.js.map

# temporary debug html files
src/klotter/*.html

# ignore this???
package-lock.json
