[submodule "external/embed"]
	path = external/embed
	url = git@github.com:madeso/embed.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/mustache/mustache"]
	path = external/mustache/mustache
	url = git@github.com:kainjow/Mustache.git
[submodule "external/catchy"]
	path = external/catchy
	url = git@github.com:madeso/catchy.git
